<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessibility</title>
</head>
<body>
    <h1>Accessibility</h1>
    <p>InCollege is committed to making its website accessible to individuals with disabilities.We are continually working to comply with the Web Content Accessibility Guidelines. <br>
        If you need assistance using our website or have concerns about accessibility, please contact us.</p>
    <button onclick="history.back()">Go Back</button>
</body>
</html>