<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookie Policy</title>
</head>
<body>
    <h1>InCollege Cookie Policy</h1>
    <p>Last revised: Feb 16, 2024 <br>
        This Cookie Policy describes how InCollege uses cookies and similar technologies to provide, improve, promote, and protect the InCollege Services.<br>
        1. We use cookies to help personalize your InCollege experience.<br>
        2. We use cookies to understand how you use InCollege.</p>
    <button onclick="history.back()">Go Back</button>
</body>
</html>