<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Copyright Policy</title>
</head>
<body>
    <h1>InCollege Copyright Policy</h1>
    <p>1. Ownership: Everything on our website belongs to us or our partners. It's protected by copyright and other laws. <br>
        2. What You Can Do: You can view, download, and print stuff from our site for your personal use only. <br>
        3. What You Can't Do: Don't use our stuff for commercial purposes without our permission.<br>
        4. User Content: If you share something with us, you're giving us permission to use it on our site. <br>
        5. Questions?: If you have any questions about our copyright policy, feel free to reach out to us.</p>
    <button onclick="history.back()">Go Back</button>
</body>
</html>