<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General</title>
</head>
<body>
    <h1>General</h1>
    <ul>
        <li><a href="/logout">Sign Up</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/career">Careers</a></li>
        <li><a href="/developer">Developers</a></li>
    </ul>
    <a href="{{ url_for('index') }}">Go back</a>
</body>
</html>