<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Search/Internship</title>
</head>
<body>
    <h2>Job Search/Internship</h2>
    {% for job in not_applied_jobs %}
            <h3>Title: {{ job.title }}</h3>
            <ul>
                <li>Description: {{ job.description }}</li>
                <li>Employer: {{ job.employer }}</li>
                <li>Location: {{ job.location }}</li>
                <li>Salary: {{ job.salary }}</li>
                <li>Posted by: {{ job.poster }}</li>
                <!-- More job details here -->
            </ul>
            <form action="/save_job" method="post">
                <input type="hidden" name="job_title" value="{{ job.title }}">
                <input type="submit" value="Save">
            </form>

            <!--    Cannot apply if they are poster -->
            {% if job.poster != session['username'] %}
                <form action="/apply_job/" method="get">
                    <input type="hidden" name="job_title" value="{{ job.title }}">
                    <input type="submit" value="Apply">
                </form>
            {% else %}
                <form action="/delete_job" method="post">
                    <input type="hidden" name="job_title" value="{{ job.title }}">
                    <input type="submit" value="Delete">
                </form>
                <p>Cannot apply to your own posted job</p>
            {% endif %}

    {% endfor %}
    <h2>Applied Jobs</h2>
    {% for job in applied_jobs %}
            <h3>Title: {{ job.title }}</h3>
            <ul>
                <li>Description: {{ job.description }}</li>
                <li>Employer: {{ job.employer }}</li>
                <li>Location: {{ job.location }}</li>
                <li>Salary: {{ job.salary }}</li>
                <li>Posted by: {{ job.poster }}</li>
                <!-- More job details here -->
            </ul>
    {% endfor %}
    <h2>Saved Jobs</h2>
    {% for job in saved_jobs %}
            <h3>Title: {{ job.title }}</h3>
            <ul>
                <li>Description: {{ job.description }}</li>
                <li>Employer: {{ job.employer }}</li>
                <li>Location: {{ job.location }}</li>
                <li>Salary: {{ job.salary }}</li>
                <li>Posted by: {{ job.poster }}</li>
                <!-- More job details here -->
            </ul>
            <form action="/unsave_job" method="post">
                <input type="hidden" name="job_title" value="{{ job.title }}">
                <input type="submit" value="Unsave">
            </form>
            {% if job.poster == session['username'] %}
                <form action="/delete_job" method="post">
                    <input type="hidden" name="job_title" value="{{ job.title }}">
                    <input type="submit" value="Delete">
                </form>
            {% else %}
                <p>Cannot apply to your own posted job</p>
            {% endif %}
    {% endfor %}

    {% if jobs|length < 10 %}
        <h3>Post a Job</h3>
        <form action="/search" method="post">
            <input type="text" name="title" placeholder="Title" required><br>
            <input type="text" name="description" placeholder="Description" required><br>
            <input type="text" name="employer" placeholder="Employer" required><br>
            <input type="text" name="location" placeholder="Location" required><br>
            <input type="text" name="salary" placeholder="Salary" required><br>
            <input type="submit" value="Post Job">
        </form>
    {% endif %}
    <a href="/user/{{ session['username'] }}">Back to Profile</a>
</body>
</html>