<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Search/Internship</title>
</head>
<body>
    <h2>Job Search/Internship</h2>
    {% for job in jobs %}
        <h3>Title: {{ job.title }}</h3>
        <ul>
            <li>Description: {{ job.description }}</li>
            <li>Employer: {{ job.employer }}</li>
            <li>Location: {{ job.location }}</li>
            <li>Salary: {{ job.salary }}</li>
            <li>Posted by: {{ job.poster }}</li>
            <!-- More job details here -->
        </ul>
        <form action="/apply_job" method="get">
            <input type="hidden" name="job_title" value="{{ job.title }}">
            <input type="submit" value="Apply">
        </form>
    {% endfor %}
    <h3>Post a Job</h3>
    <form action="/search" method="post">
        <input type="text" name="title" placeholder="Title" required><br>
        <input type="text" name="description" placeholder="Description" required><br>
        <input type="text" name="employer" placeholder="Employer" required><br>
        <input type="text" name="location" placeholder="Location" required><br>
        <input type="text" name="salary" placeholder="Salary" required><br>
        <input type="submit" value="Post Job">
    </form>
</body>
</html>